<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CLASE-17-18-19-20-MERCADO-LIBRE/public/css/normalize.css">
    <link rel="stylesheet" href="/CLASE-17-18-19-20-MERCADO-LIBRE/public/css/login.css">
    <title>Login</title>
</head>

<body>
    <form action="#" method="post">
        <input type="text" placeholder="Nombre de usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Iniciar</button>
    </form>
</body>

</html>