<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer proyecto</title>
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Soy un h1</h1>
    <h2>Estas leyendo un h2</h2>
    <h6>Soy el h6, el ultimo de los Hs</h6>
    <p>soy un parrafo</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo magni tempore soluta. Qui porro, eius
        magni,consequatur rem magnam non veritatis exercitationem, dolorem fuga repellat commodi illo voluptates sed?
        Aspernatur.
    </p>
    <ol>
        <li>Estas leyendo</li>
        <li>una lista</li>
        <li>ordenda</li>
    </ol>
    <ul>
        <li>estas leyendo</li>
        <li>una lista</li>
        <li>desordenada</li>
    </ul>
    <a href="https://youtube.com"> soy un enlace que te llevara a youtube</a>
    <h1>Thorfinn</h1>
    <img class="imagen-thorfinn" src="/images/thorfinn.jpg" alt="thorfinn en diferentes edades">
</body>

</html>