<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer proyecto</title>
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/normalize.css"> PARA NODE.JS -->
    <!-- <link rel="stylesheet" href="/css/styles.css">  PARA NODE.JS-->
    <link rel="stylesheet" href="/CLASE-17-18-PROYECTO/public/css/styles.css">
    <link rel="stylesheet" href="/CLASE-17-18-PROYECTO/public/css/normalize.css">
</head>

<body>
    <div class="primer-titulo">
        <h1 >Soy un h1</h1>
    </div>
<div class="segundo-titulo">
        <h2>Estas leyendo un h2</h2>
    </div>
    <div>
        <h6>Soy el h6, el ultimo de los Hs</h6>
    </div>
    <div>
        <p>soy un parrafo</p>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo magni tempore soluta. Qui porro, eius
            magni,consequatur rem magnam non veritatis exercitationem, dolorem fuga repellat commodi illo voluptates
            sed?
            Aspernatur.
        </p>
    </div>
    <div>
        <ol>
            <li>Estas leyendo</li>
            <li>una lista</li>
            <li>ordenda</li>
        </ol>
    </div>
    <div>
        <ul>
            <li>estas leyendo</li>
            <li>una lista</li>
            <li>desordenada</li>
        </ul>
    </div>
    <div>
        <a href="https://youtube.com"> soy un enlace que te llevara a youtube</a>
    </div>
    <div>
        <h1>Thorfinn</h1>
    </div>
    <div>
        <!-- <img class="imagen-thorfinn" src="/images/thorfinn.jpg" alt="thorfinn en diferentes edades"> PARA NODE.JS -->
        <img class="imagen-thorfinn" src="/CLASE-17-18-PROYECTO/public/images/thorfinn.jpg" alt="thorfinn en diferentes edades">
    </div>
    <div class="asd">asdf</div>
    <div class="contenedor-1">CONTENEDOR 1</div>
    <div class="contenedor-2">CONTENEDOR 2</div>
</body>

</html>