<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Merca Libre</title>
</head>

<body>
    <header>
        <img src="../public/images/logo-mercado-liebre.svg" alt="logo de la empresa">
        <div class="buscador">
            <input type="text" placeholder="Buscar productos, marcas">
            <div class="search"><i class="fas fa-search"></i></div>
        </div>

        <div class="opciones-compras">
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <div class="buy"><i class="fas fa-store"></i></div>
        </div>

        <nav>
            <ul type="None">
                <li><a class="enlaces" href="#">Ofertas</a></li>
                <li><a class="enlaces" href="#">Tiendas Oficiales</a></li>
                <li><a class="enlaces" href="#">Vender</a></li>
                <li><a class="enlaces" href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul type="None">
                <li><a class="enlaces" href="#">Creá tu cuenta</a></li>
                <div class="crear-cuenta-icon">
                    <i class="far fa-user-circle"></i> <!--EL ICONO SERIA UN LINK??¿?¿?¿?¿ -->
                </div>

                <li><a class="enlaces" href="#">Ingresá</a></li>
                <div class="ingresar-icon">
                    <i class="fas fa-sign-in-alt"></i>
                </div>

                <li><a class="enlaces" href="#">Mis compras</a></li>
                <div class="carrito-icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </ul>
        </nav>
            <div class="burger">
                <i class="fas fa-bars" style="color: #ffffff;"></i>
            </div>
        <img class="imagen-home" src="/CLASE-17-18-19-20-MICRODESAFIOS/public/images/img-home-banner.jpg" alt="publicidad">
    </header>
<!-- ------------------------------------------------------------------------------------------------------------ -->
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article>
                <img class="imagen-art" width="320" height="300" src="../public/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="productos__descripcion">
                    <div class="borde__carrito--verde">
                        <i class="fas fa-truck" style="color: #39b54a;"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
    </main>
<!-- ------------------------------------------------------------------------------------------------------------ -->
    <footer>
        <section>
            <div class="iconos-footer">
                <i class="far fa-credit-card" style="color: #005eff;"></i>
            </div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en untos
                de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="iconos-footer">
                <i class="fas fa-gift" style="color: #005eff;"></i>
            </div>
            <h2>Envío gratis desde $ 2.500</h2>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                roductos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconos-footer">
                <i class="fas fa-user-shield" style="color: #005eff;"></i>
            </div>
            <h2>Seguridad, de principio a fin</h2>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre
                protegid@.</p>
        </section>
        <section>
            <p class="descripciones">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>