body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;

}
.logo-merca{
    width:150px;
    height:50px;
    position: relative;
    left: 0px;
}




.buscador{
    position: relative;
    margin-bottom: 20px;
}
.search{
    position: absolute;
    top: 25px;
    left: 4px;
}



.opciones-compras{
    text-align: center;
    position: relative;
}
.buy{
    position: absolute;
    top: 0px;
    left: 75px;
}

a{
    text-decoration: none;
    color: black;
    text-align: left;

}

ul{padding-left: 0px;
}

.crear-cuenta{
    position: relative;
}
.crear-cuenta-icon{
    position: absolute;
    left: 80px;
    top: 1px;
}




.ingresar{
    position: relative;
}
.ingresar-icon{
    position: absolute;
    left: 42px;
    top: 1px;
}



.carrito{
    position: relative;
}
.carrito-icon{
    position: absolute;
    left: 70px;
    top: 1px;
}

main{
    text-align: center;
}



.burger-menu{
    width: 45px;
    height: 45px;
    font-size: 30px;
    background-color: blue;
    position: relative;
    left: 45%;
    border-radius: 5px;
}
.burger{
    position: absolute;
    left: 20%;
    top: 15%;
}



.titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descripciones{
    font-size: 12px;
}


footer{
    background-color: white;
    text-align: center;
    height: 380px;
}
.iconos-footer{
    font-size: 25px;
    position: relative;
    top: 15px;
}